<html ng-app="GGBApp">
<head>
	<title>
		GGB
	</title>
	    <meta charset="utf-8" />
        <title>PTS PROFESSIONAL</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
     
 <link href="/assets/pages/css/login.min.css" rel="stylesheet" type="text/css" />
     
        <link href="/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />       
        <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
</head>
<body>



      
        <div class="page-header navbar navbar-fixed-top" ng-show = "IsVisible">
            <div class="page-header-inner ">       
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
                <div class="page-logo">                 
                    <a href="" class="colorwhite">
                        Logo                     
                    </a>

                </div>            
                <a href="#"></a>
                <div class="datehome">
                    <ul class="menu">
                        <li><a href="#/check">Check</a></li>
                        <li><a href="#/notification">Notification</li>
                        <li ng-if="showSecurity"><a href="#/security">Security Details</a></li>
                        <li ng-if="showUser"><a href="#/user">Add User</a></li>
                        <li><a href="#/product">Product Details</a></li>
                        <li><a href="#/support" >Support</a></li>    
                        <!-- <li><a href="#/device/1">Aditional Device</a></li>   -->  
                    </ul>
                </div>
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown dropdown-user">
                            <a href="#/login" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span class="username username-hide-on-mobile">Log Out </span>
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>

       
<div ng-view></div>


 <script src="/js/angular.min.js"></script>
 <script src="/js/angular-route.min.js"></script>
 <script src="/js/angular-cookies.js"></script>


<script src="/route/route.js"></script>
<script src="/route/config.js"></script>

<script src="/controllers/loginCtrl.js"></script>
<script src="/controllers/checkCtrl.js"></script>	
<script src="/controllers/deviceCtrl.js"></script>	
<script src="/controllers/notificationCtrl.js"></script>	
<script src="/controllers/productCtrl.js"></script>	
<script src="/controllers/securityCtrl.js"></script>	
<script src="/controllers/userCtrl.js"></script>
<script src="/controllers/forgotCtrl.js"></script>
<script src="/controllers/addeviceCtrl.js"></script>
<script src="/controllers/resetCtrl.js"></script>
<script src="/controllers/supportCtrl.js"></script>


<script src="/factory/LoginFactoryService.js"></script>
<script src="/factory/AddUserFactoryService.js"></script>
<script src="/factory/CheckFactoryService.js"></script>
<script src="/factory/HomeFactory.js"></script>
<script src="/factory/DeviceFactoryService.js"></script>
<script src="/factory/AddDeviceFactoryService.js"></script>
<script src="/factory/ForgotFactoryService.js"></script>
<script src="/factory/ResetFactoryService.js"></script>
<script src="/factory/NotificationFactoryService.js"></script>
<script src="/factory/SupportFactoryService.js"></script>


	
</body>
</html>