
<form class="page-container"  name="addDeviceForm" novalidate>
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse sidebar">
        </div>
        <!-- END SIDEBAR -->
    </div>
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span class="aduser">Aditional Device</span>
                    </li>
                </ul>
            </div>
            <div class="portlet light">
                <div class="container">
                    <div class="hero">
                        Device Details</h4>
                    </div>
                </div>
                <div class="container">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <table class='table borderless tbtop'>
                            <thead class="eo">
                                <tr>
                                    <th width="267px" class="fontbold">New Device</th>
                                    <th width="267px"><input type="text" class="form-control" placeholder="New Device" data-model="addDeviceForm.UDID"> </th>
                                    <th width="267px" class="fontbold">Existing Device </th>
                                    <th width="267px"><input type="text" class="form-control" data-model="addDeviceForm.UDID" placeholder="Existing Device">  </th>
                                </tr>
                            </thead>                   
                        </table>
                    </div>
                </div>
                <div class="container">
                    <div class="hero">
                        Machine Details
                    </div>
                </div>
                <div class="container">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <table class='table borderless tbtop'>
                            <thead class="eo">
                                <tr>
                                    <th width="267px" class="fontbold">Machine No</th>
                                      <th width="267px"><input type="text" class="form-control" data-model="addDeviceForm.MachineNumber" placeholder="Machine No"> </th>
                                      <th width="267px" class="fontbold">   Make:  	</th>
                                      <th width="267px"> <input type="text" class="form-control" data-model="addDeviceForm.Make" placeholder="Make"> </th>
                                </tr>
                                <tr>
                                     <th width="267px" class="fontbold"> RFID No:  </th>
                                      <th width="267px">	<input type="text" class="form-control" data-model="addDeviceForm.RFID" placeholder=" RFID No"> </th>
                                     <th width="267px" class="fontbold"> 	 Model   	</th>
                                    <th width="267px">	<input type="text" class="form-control"  data-model="addDeviceForm.Model" placeholder="Model"> </th>
                                </tr>
                                <tr>
                                     <th width="267px" class="fontbold">     Engine No:     </th>
                                    <th width="267px">		<input type="text" class="form-control" data-model="addDeviceForm.EngineNumber"  placeholder="Engine No"> </th>
                                     <th width="267px" class="fontbold">   type of Machine:  	</th>
                                      <th width="267px" > 	   <input type="text" class="form-control" data-model="addDeviceForm.TypeOfMachine"  placeholder="type of Machine">  </th>
                                </tr>
                                <tr>
                                     <th width="267px" class="fontbold">   Manufacture Year    </th>
                                     <th width="267px"><input type="text" class="form-control" data-model="addDeviceForm.Year"  placeholder="Manufacture Year"> 	</th>
                                     <th width="267px"  class="fontbold" >  type		</th>
                                     <th width="267px">	  	<input type="text" class="form-control" data-model="addDeviceForm.Type"  placeholder="type"> </th>
                                </tr>
                        </table>
                    </div>
                </div>







                <div class="container">
                    <div class="hero margin-top-20">
                        Customer Details
                    </div>
                </div>
                <div class="container">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <table class='table borderless tbtop'>
                            <thead class="eo">
                                <tr>
                                   <th width="267px" class="fontbold">     Mobile Number:	</th>
                                  <th width="267px">	<input type="text" class="form-control" data-model="addDeviceForm.MobileNumber"  placeholder=" Mobile Number"> </th>
                                    <th class="colorred" class="fontbold">   Mobile Activation Code</th>
                                    <th width="267px">   <input type="text" class="form-control" data-model="addDeviceForm.ActivationCode"  placeholder="Mobile Action Code"> </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div class="container">
                    <div class="hero">
                        Reward Details
                    </div>
                </div>

                <div class="container">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <table class='table borderless tbtop'>
                            <thead class="eo">
                                <tr>
                                 <th width="267px" class="fontbold">         Date   			</th>
                           <th width="267px">	<input type="text" class="form-control" data-model="addDeviceForm.Date"  placeholder="Date"> 	</th>
                                   <th width="267px" class="colgreen">   Test Results</th>
                                    <th width="133px" class="fontbold"> CO </th>
                                   <th width="133px"> HC </th>
                                </tr>

                                <tr>
                                   <th width="267px" class="fontbold">  Renewel Date </th>
                                   <th width="267px"><input type="text" class="form-control" data-model="addDeviceForm.RenewelDate"  placeholder="Renewel Date"> </th>
                                  <th width="267px" class="colgreen">Reuiiation(%)</th>
                                <th width="133px">   <input type="text" class="form-control" data-model="addDeviceForm.CO"  placeholder="CO"> </th>
                                   <!-- <th width="133px">3.2% </th> -->
                                  <!-- <th width="133px"> 47000 </th> -->
                                   <th width="133px">   <input type="text" class="form-control" data-model="addDeviceForm.HC"  placeholder="HC"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>













                <div class="container">
                <div class="col-md-2  pull-right margin-right-94" >
                    <div class="col-md-6">
                        <button type="button" class="btn btn-info pull-left">Cancel</button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-info pull-left" ng-click="SaveAddDevice()">Next</button>
                    </div>
                    </div>
                </div>
            </div>
        </form>
