
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse sidebar">

                </div>
                <!-- END SIDEBAR -->
            </div>
            <div class="page-content-wrapper">

                <div class="page-content">
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <span class="aduser">Aditional Device</span>
                            </li>
                        </ul>
                    </div>
                    <h3 class="page-title margin-top-50"></h3>
                   
                        <div class="container">
                            <div class="portlet light">
                                <div class="col-md-12 row">
                                    <div class="container">
                                        <h4>Device Details</h4>
                                        <hr>
                                    </div>
                                </div>



                            
                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-10">
                                        <table class='table borderless'>
                                            <thead>
                                                <tr>
                                                    <th>  New Device</th>
                                                    <th>GH9775JHGH8332 </th>
                                                    <th>   Existing Device </th>
                                                    <th>   WTS5476915 </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                             
                                <div class="col-md-12 row">
                                    <div class="container">
                                        <h4>Machine Details</h4>
                                        <hr>
                                    </div>
                                </div>



                               
                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-10">
                                        <table class='table borderless'>


                                            <thead>
                                                <tr>
                                                    <th> Machine No</th>
                                                    <th> WTS647615  </th>
                                                    <th>   Make:  	</th>
                                                    <th>  WTS</th>
                                                </tr>


                                                <tr>
                                                    <th> RFID No:  </th>
                                                    <th> 	A9999999</th>
                                                    <th>  	 Model   	</th>
                                                    <th> 	JUPITER</th>
                                                </tr>
                                                <tr>
                                                    <th>     Engine No:     </th>
                                                    <th> 		pic 9</th>
                                                    <th>   type of Machine:  	</th>
                                                    <th> 	   Manufacture Year </th>
                                                </tr>
                                                <tr>
                                                    <th>    Manufacture Year    </th>
                                                    <th> 	 2014	</th>
                                                    <th>  type		</th>
                                                    <th> 	  	W2S</th>
                                                </tr>
                                                 			
                                        </table>
                                    </div>

                              
                            </div>



                        </div>

                 

               
                        <div class="container">
                            <div class="portlet light">
                                <div class="col-md-12 row">
                                    <div class="container">
                                        <h4>Customer Details</h4>
                                        <hr>
                                    </div>
                                </div>
                         		


                               
                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-10">
                                        <table class='table borderless'>
                                            <thead>
                                                <tr>
                                                    <th>        Mobile Number:	</th>
                                                    <th>	Enter 10 Digit Mobile No</th>
                                                    <th class="colorred">   Mobile Action Code</th>
                                                    <th>   Activation Code</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                          
                   



              
                                 

                         
                            </div>



                        </div>

                 

                 
                        <div class="container">
                            <div class="portlet light">
                                <div class="col-md-12 row">
                                    <div class="container">
                                        <h4>Reward Details</h4>
                                        <hr>
                                    </div>
                                </div>

                            			   

                              
                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-10">
                                        <table class='table borderless'>
                                            <thead>
                                                <tr>
                                                    <th>           Date   			</th>
                                                    <th>		DD/MM/YYY		</th>
                                                    <th class="colgreen">   Test Results</th>
                                                    <th>  CO </th>
                                                    <th> HC </th>
                                                </tr>
                                             						
                                                <tr>
                                                    <th>             Renewel Date 			</th>
                                                    <th>		DD/MM/YYY		</th>
                                                    <th class="colgreen">  Reuiiation(%)</th>
                                                    <th>    3.2% </th>
                                                    <th>   47000 </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                          
                       


                      
                               

                               
                            </div>




               
                </div>



            </div>

<div class="col-md-2 margin-bottom-50">

<div class="col-md-6">
<button type="button" class="btn btn-info pull-left">Cancel</button>
</div>
<div class="col-md-6">
<button type="button" class="btn btn-info pull-left">Next</button>
</div>

</div>
                                    