
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse sidebar">

                </div>
                <!-- END SIDEBAR -->
            </div>
            <div class="page-content-wrapper">
                <div class="page-content">           
                    <h3s class="page-title margin-top-50"></h3s>
                    <div class="leftcheck">
                        <div class="row">
                            <div class="container">
                                <div class="portlet light">
                                    <div class="col-md-12">
                                        <h3 class="text-center colgreen">Brand Name</h3>
                                        <div class="brdname">
                                            <img src="img/brdname.png" />
                                        </div>
                                        <div class="form-group margin-top-80">
                                            <div class="device">  Device Number </div>
                                            <div class="deviceform">
                                                <input type="text" class="form-control" id="form_control_1" data-ng-model="form.DeviceUDID">
                                            </div>
                                            <div class="col-md-12 margin-top-40">
                                                <button type="submit" class="btn btn-info center-block width10" ng-click="SearchDevice()">Search</button>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rightcheck">  
                     <h4 class="colgreen" align="right"> WRS Number: TT/09/WRS/RRB/2016</h4> 
                             
                            <div class="container">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="sereslt">
                                            <button type="button" class="btn center-block">Result Set</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="sereslt">
                                           <table class="table table-striped">
                                              <tr>
                                                <td> Device UDID </td>
                                                <td> Activation Date</td>
                                                <td></td>
                                              </tr>
                                              <tr ng-repeat="x in Devices">
                                                <td>{{ x.UDID }}</td>
                                                <td>{{ x.ActivationDate }}</td>
                                                <td> <button type="button" class="btn center-block">Select</button></td>
                                              </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      
                    </div>
               
                    <div class="bordright"></div>

                </div>
                <!-- END CONTENT BODY -->
            </div>

        </div>




