
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse sidebar">

                </div>
                <!-- END SIDEBAR -->
            </div>
            <div class="page-content-wrapper">
                <div class="page-content">
                    <h4 class="page-title margin-top-50"></h4>
                    <div class="leftcheck">
                        <div class="row">
                            <div class="container">
                                <div class="portlet light">
                                    <div class="notleft">                                        
                                            <h4>Message Center</h4>
                                            <div class="col-md-12">
                                                <h5>Subject</h5>
                                                <input type="text" class="form-control">
                                                <p>text of the printing </p>
                                            </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                           <hr class="blueline">
                                                </div>
                                        </div>                                        
                                        <div class="col-md-12">
                                            <h5>Message Type</h5>                                    
                                            
                                        </div>
                                        <div class="col-md-12">
                                            <span class="color-blue">Select All</span>
                                            <span  class="color-blue">Select Name</span>

                                        </div>
                                    </div>
                              
                                </div>
                            </div>




                        </div>
                        <!-- END CONTENT BODY -->
                    </div>

                </div>



