
    
      
<link href="assets/pages/css/login.min.css" rel="stylesheet" type="text/css" /> 
<div class="login" >
        <div class="contentpass">
            <!-- BEGIN LOGIN FORM -->
            <form class="login-form" name="resetForm" novalidate>      
                <div class="col-md-12" >            
                    <div class="form-group">
                        <label class="control-label colorwhite">Enter New Password</label>
                        <div class="input-group">
                            <span class="input-group-addon brdtxt"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="text" type="password" class="brd" name="password" data-ng-model="resetForm.PassWord">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label colorwhite">Conform New Password</label>
                        <div class="input-group">
                            <span class="input-group-addon brdtxt"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" class="brd" name="password"  data-ng-model="resetForm.resetPassWord">
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="col-md-4 row">         
                            <button type="submit" class="btn green uppercase" data-ng-click="Reset()">Submit</button>                                        
                        </div>
                        <div class="col-md-4">                     
                              <button type="button" class="btn btn-danger uppercase">Cancel</button>
                        </div>
                    </div>              
                    
                </div>
                </form>
            </div>
        </div>
       
		

   
