
    
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse sidebar">

                </div>
                <!-- END SIDEBAR -->
            </div>
            <div class="page-content-wrapper">

                <div class="page-content">
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <span class="aduser">Security Details</span>
                            </li>
                        </ul>
                    </div>
                    <h3 class="page-title margin-top-50"></h3>
                  
                        <div class="container">
                            <div class="portlet light">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Desired Username
                                        </label>
                                        <input type="text" class="form-control" id="form_control_1" >
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">
                                            Password
                                        </label>
                                        <input type="text" class="form-control" id="form_control_1" >
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">
                                            Re-enter Password
                                        </label>
                                        <input type="text" class="form-control" id="form_control_1" >
                                    </div>
                                </div>
                      
                                <!--<div class="form-group">
                                  <label class="control-label">
                                      Company Name
                                  </label>
                                  <select class="form-control">
                                      <option>Organization</option>
                                      <option>Option 2</option>
                                      <option>Option 3</option>
                                      <option>Option 4</option>
                                      <option>Option 5</option>
                                  </select>
                                </div>-->
                                <div class="col-md-12"></div>
                                <div class="col-md-4">                      
                                <div class="form-group">
                                    <label class="control-label">
                                        Secret Question
                                    </label>
                                    <select class="form-control">
                                        <option>Organization</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                        <option>Option 4</option>
                                        <option>Option 5</option>
                                    </select>
                                </div> 
                                    <div class="form-group">
                                        <label class="control-label">
                                            Answer to Secret Question
                                        </label>
                                        <input type="text" class="form-control" id="form_control_1" >
                                       
                                    </div> 
                                    <div class="form-group">
                                        <label class="control-label">
                                            Conform Answer  
                                        </label>
                                        <input type="text" class="form-control" id="form_control_1">
                                    </div>
                                    <div class="row">
                              
                                      <div class="col-md-12">
                                      <div class="row">
                                      <div class="col-md-3">
                                           <button type="button" class="btn btn-info pull-left">Cancel</button>
                                      </div>
                                      <div class="col-md-3">
                                           <button type="button" class="btn btn-info pull-left">Next</button>
                                      </div>
                                      </div>
                                      </div>
                                      </div>
                                      
                                     
                                </div>
                                                      
                            </div>
                              
                  
                                
                        </div>
                    </div>
        


            </div>
            <!-- END CONTENT BODY -->
        </div>

        </div>
