
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse sidebar">

                </div>
                <!-- END SIDEBAR -->
            </div>
            <div class="page-content-wrapper">
                <div class="page-content">           
                    <h3s class="page-title margin-top-50"></h3s>
                    <div class="supleft">
                        <div class="col-md-12 row">
                            <div class="container">
                                <h4>Company Address</h4>
                                <hr>
                                <table data-toggle="table" data-striped="true">                             
                                    <tbody>
                                        <tr>
                                            <td width="300px">Address</td>
                                            <td><strong>Morrow Glean</strong></td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="300px">Phone number</td>
                                            <td><strong>10 digit number</strong></td>
                                        </tr>
                                     
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="supright">                      
                  
                        <form class="col-md-12 row" name="support_form" novalidate>
                            <div class="container">
                                <h4>Issue Details</h4>
                                <hr>
                            </div>
                            <div class="col-md-offset-1  col-md-8 well margin-top-50">
                                <form accept-charset="UTF-8" action="" method="POST">
                                    <textarea class="form-control" id="text" name="text" placeholder="Type in your message" rows="5" ng-model="support_form.IssueDetails"></textarea>
                                    <h6 class="pull-right" id="count_message"></h6>                                    
                                </form>
                            </div>
                            <div class="col-md-offset-4 col-md-4 margin-right-94">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-info pull-left">Cancel</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-info pull-left" ng-click="SendTrackInfo()">Submit</button>
                                </div>
                            </div>
                        
                        </form>
                    </div>
               
                    <div class="bordright"></div>

                </div>
                <!-- END CONTENT BODY -->
            </div>

        </div>




